{% extends "core/base.html" %}
{% block content %}

{% include "core/components/nav.html" %}

<div class="flex justify-between">
    <div class="">
        <button class="px-4 mt-12 ml-8 py-1 rounded-lg outline-none text-left text-[10px]">Powered By Ami</button>
    </div>

    {% if user.is_superuser %}
        <div>
            <a class="float-right p-2 text-white mt-9 mr-4
             bg-blue-700 rounded-xl hover:bg-blue-800" 
             href="{% url 'Add-content' %}"><i class="ri-add-circle-fill"></i> 
             Add to Course</a>
        </div>
    {% endif %}   
</div>

<div>
    {% include "core/components/video-plate.html" %}
</div>

{% include "core/components/footer.html" %}
{% endblock content %}

