{% extends "core/base.html" %}
{% block content %}
<div class="mb-20">
    {% include "core/components/nav.html" %}
</div>

<div class="lg:mt-20 max-w-2xl mx-auto bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl text-center mt-10 font-bold mb-6">Add Module</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Module Name Field -->
        <div class="mb-4">
            <label for="id_module_name" class="block text-sm font-medium text-gray-700">Module</label>
            <input
                type="text"
                name="module_name"
                id="id_module_name"
                class="mt-1 w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="E.g Module 1"
                value="{{ form.module_name.value|default_if_none:'' }}"
            >
            {% if form.module_name.errors %}
                <div class="text-red-500 text-sm mt-1">
                    {{ form.module_name.errors }}
                </div>
            {% endif %}
        </div>

        <!-- Module Description Field -->
        <div class="mb-4">
            <label for="id_module_description" class="block text-sm font-medium text-gray-700">Module Description</label>
            <textarea
                name="module_description"
                id="id_module_description"
                class="mt-1 w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Enter module description"
                rows="4"
            >{{ form.module_description.value|default_if_none:'' }}</textarea>
            {% if form.module_description.errors %}
                <div class="text-red-500 text-sm mt-1">
                    {{ form.module_description.errors }}
                </div>
            {% endif %}
        </div>

        <!-- Image Upload Field -->
        <div class="mb-4">
            <label for="id_image" class="block text-sm font-medium text-gray-700">Module Image <i class="text-blue-500">(optional)</i></label>
            <input
                type="file"
                name="image"
                id="id_image"
                class="mt-1 w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            >
            {% if form.image.errors %}
                <div class="text-red-500 text-sm mt-1">
                    {{ form.image.errors }}
                </div>
            {% endif %}
        </div>

        <!-- Submit Button -->
        <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Save Module
        </button>
    </form>
</div>
{% endblock content %}

