{% extends "core/base.html" %}
{% block content %}
{% include "core/components/nav.html" %}

<div class="flex justify-center mt-12">
    <h1 class="text-2xl te">Add to Course</h1>
        <div class="">
            {% if submit %}{% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit">Submit</button>
    
            </form>
    
</div>
{% endblock content %}

